@{
    ViewData["Title"] = "Home Page";
}

@{ Layout = "~/Views/Shared/_Layout.cshtml";}
@model SubsidyReconciliation.Models.UserViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Subsidy Reconciliation</p>
</div>
